<div id="questionare_<%=questionare.id%>" style="float:left;">
  <%=h questionare.question %>--
  <%=h questionare.time_min %>--
  <%=h questionare.time_sec %>--
  <%=h questionare.interview.name %>
</div>
<br></br>
