Hello <%=@user%>,

Candidate <%=@candidate_name%> has completed the interview, please click on the following link to view the interview:

http://hiringsimplified.com/interviews/recruite/<%=@interview_id%>?cid=<%=@candidate_id%>


Regards,

HiringSimplified Inc.
http://www.hiringsimplified.com
