Hello <%=@user%>,

Candidate <%=@candidate_name%> has completed the interview <br />
please click on the following link to view the interview: <br />

http://hiringsimplified.com/interviews/recruite/<%=@interview_id%>?cid=<%=@candidate_id%>
