HiringSimplified received a request to reset your password for your HiringSimplified.com account.

Below is your new password:

New password is: <%=h @new_password %>

Please change this password once you login. Password can be changed by going into the account settings.

Thanks,

HiringSimplified Inc.
http://www.hiringsimplified.com
