Hello <%= @to_user %>,

<%= @from_user %> has invited you to view and rate an interview. 

Please click on the link below and use the code given "<%=@code%>" to access
the interview.

http://hiringsimplified.com/sessions/rate_interview/


Please press "Done" to save your comments and ratings.


If you have any questions, please email us at support@hiringsimplified.com


Regards,

HiringSimplified Inc.
http://www.hiringsimplified.com