Hello <%=@to_user%>,

<%=@to_user%> wants you to rate the interview
please click on the following link to rate the interview and use this code "<%=@code%>" and don't forget to press the "done" button when you have rated the candidate:

http://hiringsimplified.com/sessions/rate_interview/