<%#=debug @customer%>
<div style="float: right;height: 40px;">
<% if logged_in? -%>
  <div style="margin-top: 10px;">
  <div style="float: left;padding-top: 5px;padding-right: 5px;font-weight: bold;font-size: 8pt;" class="white">
    <%=session[:user_name]%><%if current_user.parent_id == nil || current_user.parent_id == 0%><a href="/users/profile" class="grey_link" title="click to edit your account settings">My Account</a><%end%><%= link_to "Sign Out", logout_path, { :class=>"grey_link" }%>
  </div>
    
  </div>
<% else -%>
  <div style="display: none;">
    <div style="text-align: left;" id="login">
      <div style="padding: 20px;">
  <% form_tag session_path do -%>




    <% if params[:frm] == "inv" %>
      <%flash[:user_type] = "candidate"%>
    <% else %>
 

        <div class="spacer"></div>
</div>
      </div>
 </div>
  <div style="margin-left: 5px;display: none;"><a href="/passwords/new" class="while_link" >Forgot your password ?</a></div>
  <div onclick="navigate('/sessions/direct_login');" class="sign_rockwell" style="margin-top: 10px;margin-right: 20px;"></div>
      
    <% end %>


  <% end -%>
<% end -%>
</div>