<div style="text-align: left;padding-right: 150px;padding-left: 150px;"><h2>Contact Us:</h2>
<p>If you need assistance or would just like to discuss how  HiringSimplified can help you, please feel free to contact us by e-mail at <a href="mailto:Info@hiringsimplified.com">Info@hiringsimplified.com</a>.</p>
</div>
