<div class="signup_box2" style="width: 750px;height:220px; padding: 15px;margin: 0px;float: left;" >
  <%#=debug @time_left%>
  <div align="center" style="padding-top: 100px;">
    <b>Time available: </b><%=convert_ms @time_left%><br /> OR <b><%=@time_left%></b> hour(s)
   </div>
</div>
