<div class="signup_box2" style="width: 750px;height:220px; padding: 15px;margin: 0px;float: left;" >
<div >
  <%convert_ms @time_left%>
  <%get_duration @interview_id%>
  <b>Time available: </b><%= @timer%><br />
</div>
 </div>
