<div class="category" onclick="get_questions(<%=category.id%>,'true');" id="cat_<%=category.id%>" ><%=category.name%><div class="close" onclick="delete_category(<%=category.id%>);do_nothing = true;"></div></div>